.app__header {
   background-color: var(--color-black);
}
.app__header-h1 {
   font-family: var(--font-base);
   color: var(--color-golden);
   letter-spacing: 3.6px;
   text-transform: capitalize;
   line-height: 117px;
   font-size: 90px;
}
.app__header-img img {
   width: 80%;
}
@media screen and (max-width: 1050px) {
   .app__header-h1 {
      letter-spacing: 2.6px;
      text-transform: capitalize;
      line-height: 79px;
      font-size: 67px;
   }
}
